.select {
  position: relative;
}

.select__dropdown {
  max-height: 280px;
  overflow: auto;
  display: block;
  position: absolute;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
  border: 1px solid hsla(0,0%,0%,0.15);
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  z-index: 1;
}

.select__dropdown > div {
  cursor: pointer;
  padding: 16px;
  border-bottom: 1px solid hsla(0,0%,0%,0.15);
}

.select__dropdown > div:last-of-type {
  border-bottom: none;
}

.select__dropdown > div:hover {
  background-color: hsla(0,0%,0%,0.15);
}

.select > button {
  height: 56px;
  text-align: left;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  padding: 16px;
  font-weight: bold;
  border: 1px solid hsla(0,0%,0%,0.15);
  background-color: #e9e9e9;
}

.select > button.focus {
  outline: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 8px rgba(0,0,0,.3);
}

.select > svg {
  display: block;
  position: absolute;
  right: 10px;
  top:50%;
  transform:translate(-50%, -50%);
  transition: all 0.15s ease-out;
  cursor: pointer;
  pointer-events: none;
  color: hsl(210,8%,76%);
}

.select__placeholder {
  color: #b6a0a0;
}

.select + .error {
  font-size: 13px;
  color: #db001b;
  margin-top: 8px;
}